openapi: 3.0.0
info:
  title: API Node + TypeScript
  version: 1.0.0
  description: Documentação da API

paths:
  /users:
    post:
      summary: Cria um novo usuário
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  example: João
                email:
                  type: string
                  example: João@gmail.com   
      responses:
        201:
          description: Usuário criado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 1700000000000
                  name:
                    type: string
                    example: João
        400:
          description: Dados inválidos

