openapi: 3.0.0
info:
  title: API Node + TypeScript
  version: 1.0.0
  description: Documentação da API

paths:
  /health:
    get:
      summary: Health check
      responses:
        200:
          description: API online
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /users:
    get:
      summary: Lista usuários
      responses:
        200:
          description: Lista de usuários
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      example: 1
                    name:
                      type: string
                      example: Carlos

    post:
      summary: Cria um novo usuário
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  example: João
      responses:
        201:
          description: Usuário criado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 1700000000000
                  name:
                    type: string
                    example: João
        400:
          description: Dados inválidos
